---
title: Get Hired! - Land Your First Professional Job
class: l-about l-interior
---

<div class="sub-content"><img alt="Mara Braverman" src="/images/mara-braverman.jpg"></div>

<div class="main-content">
  <h1>About the Author</h1>

  <p>Mara Braverman, book author and founder of Succeed At Work
  Press, is a professor of communications and English at Goodwin
  College and communications at Post University, both in Connecticut.
  She specializes in preparing students to succeed as professionals
  in today’s demanding work world. Many of her students are the first
  in their families to attend college.</p>

  <p>Previously, Mara developed websites and print materials that
  helped businesses and nonprofits inform and persuade their
  audiences. She also worked as an editor for several publications
  and as a business journalist, covering financial services and other
  industries. She served as an editor at the University of
  Connecticut Health Center, writing about patient care and
  biomedical research. She started her career developing curriculum
  for grades K-12; more recently, she developed college courses in
  Interpersonal Communications and Business Writing, including online
  versions.</p>

  <p>Mara has given many presentations on communications topics. Her
  work has won many honors, including four Educational Advertising
  Awards, four Public Relations Society of America awards, and a Best
  Editorial Award from the State Bar of California. Mara received
  degrees in law and public administration from the University of
  Southern California and a B.A. from New York University, where she
  majored in urban studies.</p>
</div>
