---
title: Books by Mara Braverman from Succeed at Work
books-hero: 91CFCA
books-attach: 0093C9
class: l-books l-interior
---

<div class="books-hero -get_hired">
  <div class="attach"><img alt="Get Hired" class="src" src=
  "/images/books-hero-get_hired.png"></div>

  <div class="body">
    <h2 class="heading">Land your first professional job</h2>

    <p>In <em>Get Hired!</em>, Mara Braverman teaches the 20 steps to
    getting hired for a professional position, offering a practical
    guide to succeeding in today’s competitive marketplace.</p>

    <p><a class="button saw-button" href="book.html">More about
    <em>GET HIRED!</em></a></p>
  </div>
</div>

<div class="bookshelf">
  <h2 class="heading"><span>Our Books</span></h2>

  <ul class="book-list">
    <li class="item book">
      <div class="attach">
        <a class="attach-link" href="book.html"><img alt="Get Hired"
        class="src" src=
        "/images/book-icon-get_hired.png"></a>
      </div>

      <div class="body">
        <h3 class="heading"><a class="permalink" href="book.html"
        title="Get Hired!">Get Hired!</a></h3>

        <p class="subheading">20 Steps to Getting Hired</p>

        <div class="buy-books -list">
          <strong class="heading">Buy this ebook</strong>

          <div class="buy-buttons button-group -list">
            <a class="button" href=
            "http://www.amazon.com/Get-Hired-Professional-Building-Proving-ebook/dp/B00RYRS5FE/"
            target="_blank">Amazon</a> <a class="button" href=
            "https://itunes.apple.com/us/book/get-hired!/id956421292?mt=11"
            target="_blank">iBook</a> <a class="button" href=
            "http://www.barnesandnoble.com/w/get-hired-mara-braverman/1121014336"
            target="_blank">Barnes &amp; Noble</a>
          </div>
        </div>
      </div>
    </li>

    <li class="item book">
      <div class="attach"><img alt="Succeed at Work is Coming Soon"
      class="src" src=
      "/images/book-icon-coming_soon.png"></div>

      <div class="body">
        <h3 class="heading">Succeed at Work</h3>

        <p class="subheading">20 Steps to Success</p>
      </div>
    </li>
  </ul>
</div>
