---
title: Get Hired! - Land Your First Professional Job
book-bg: 0093C9
class: l-book l-interior
---

<div class="book-hero">
  <img alt="Get Hired" class="src" src=
  "/images/book-hero-get_hired.png">

  <div class="body">
    <div class="buy-books">
      <strong class="heading">Buy this ebook</strong>

      <div class="buy-buttons button-group">
        <a class="button" href=
        "http://www.amazon.com/Get-Hired-Professional-Building-Proving-ebook/dp/B00RYRS5FE/"
        target="_blank">Amazon</a> <a class="button" href=
        "https://itunes.apple.com/us/book/get-hired!/id956421292?mt=11"
        target="_blank">iBook</a> <a class="button" href=
        "http://www.barnesandnoble.com/w/get-hired-mara-braverman/1121014336"
        target="_blank">Barnes &amp; Noble</a>
      </div>
    </div>

    <h2 class="heading">Land your first professional job</h2>

    <p>In Get Hired!, Mara Braverman teaches the 20 steps to getting
    hired for a professional position. Short, easy-to-read chapters
    cover topics like</p>

    <ul class="topics">
      <li class="item">Build a Resume that Stands Out</li>

      <li class="item">Sound like a Professional</li>

      <li class="item">Enlist Everyone in Your Job Search</li>

      <li class="item">Practice for the Interview</li>

      <li class="item">Boost Nonverbal Communication</li>

      <li class="item">Make a Great Impression</li>

      <li class="item">Prove You’re the Person for the Job</li>
    </ul>

    <blockquote class="quote">
      <p class="body">Mara Braverman’s guidelines for workplace
      readiness are practical, concise, easy to understand and simple
      to follow.</p>

      <p class="src h-card"><span class="p-name">Whitney
      Ransome</span> <span class="p-job-title">Co-Founder</span>
      <span class="p-org">National Coalition of Girls’
      Schools</span></p>
    </blockquote>
  </div>
</div>
