---
title: Mara Braverman helps you Succeed at Work
---

<div class="intro-hero">
  <h1 class="heading">Helping You Build a Successful Professional Career</h1>
  <div class="intro-media media">
    <div class="attach">
      <img src="/images/intro-hero-ipad.jpg" alt="Read the ebook of Get Hired!" class="src">
      <a href="#" class="button saw-button">More about <em>GET HIRED!</em></a>
    </div>
    <div class="body">
      <h2 class="heading">Land your first professional job</h2>
      <p>In Get Hired!, Mara Braverman teaches the 20 steps to getting hired for a professional position, offering a practical guide to succeeding in today’s competitive job market.</p>
      <nav class="buy-books">
        <strong class="heading">
          Buy this ebook
        </strong>
        <div class="buy-buttons button-group">
          <a href="#" class="button">Amazon</a>
          <a href="#" class="button">iBook</a>
          <a href="#" class="button">Barnes &amp; Noble</a>
        </div>
        <a class="help" href="#" title="Read Kindle books on any device">Read Kindle books on any device</a>
      </nav>
      <blockquote class="quote">
        <p class="body"><em>Get Hired!</em> is the college course we all wish we had, the one that reveals the secrets of successful  job hunting.</p>
        <p class="src h-card">
          <span class="p-name">Sue Lugli</span>
          <span class="p-job-title">Professor of Marketing and Economics</span>
          <span class="p-org">Middlesex Community College</span>, <span class="p-locality">Connecticut</span>
        </p>
      </blockquote>
    </div>
  </div>
</div>
