<!doctype html>
<html class="{{ class }}" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="/styles/live.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->
    <!-- Add to homescreen -->
    <link rel="manifest" href="/manifest.json">
    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{ title }}">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ title }}">
    <link rel="apple-touch-icon" href="/images/touch/apple-touch-icon.png">
    <script src="/bower_components/loadcss/loadCSS.js" inline></script>
    <script>
      loadCSS( "/styles/webfonts.css" );
    </script>
    <noscript><link href="/styles/webfonts.css" rel="stylesheet"></noscript>
    <style type="text/css">
      .books-hero {
        background-color: #{{ books-hero }};
      }

      .books-hero .attach {
        background-color: #{{ books-attach }};
      }
      .l-book {
        background-color: #{{ book-bg }};
      }
    </style>
  </head>
  <body>

    <div class="sticky-footer">
      <div class="row -expanded">
        <header class="site-masthead" role="banner">
          <div class="container">
            {{> site-masthead }}
          </div>
        </header>
        <main class="site-hull" role="main">
          <div class="container">
            {% body %}
          </div>
        </main>
      </div>
      <div class="row">
        <div class="award-hero">
          <div class="container">
            <div class="award-hero__content">
              <h2 class="award-hero__heading">2015 IPPY Winner</h2>
              <p class="award-hero__award">
                Adult nonfiction informational ebook
                <span class="award-hero__source">Independent Publisher Book Award</span>
              </p>
            </div>
          </div>
        </div>
        <div class="site-hold">
          <div class="container">
            {{> overview }}
          </div>
        </div>
        <footer class="site-keel" role="contentinfo">
          <div class="container">
            {{> site-keel }}
          </div>
        </footer>
      </div>
    </div>

    <!-- build:js scripts/main.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <script src="/scripts/main.js"></script>
    <!-- endbuild -->

  </body>
</html>
