<div class="overview">
  <div class="details media">
    <figure class="attach">
      <img class="src" src="/images/logo-succeed-at-work.svg" alt="Succeed at Work">
      <a class="cta-contact" href="mailto:publisher@succeedatwork.co" title="Get in Touch with Mara">Get In Touch</a>
    </figure>
    <div class="body">
      <p>
        Succeed At Work Press publishes ebooks for young professionals.
      </p>
      <p>
        Author Mara Braverman helps you succeed at every step in your career.
      </p>
      <p>
        Watch for publication of our next ebook in 2015:  <em><strong>Succeed at Work!</strong> 20 Steps to Success in Your First Professional Job</em>.
      </p>
    </div>
  </div>
</div>
