<p class="legal">Copyright &copy;&thinsp;2015 Suceed at Work Press</p>
<nav class="suplementary-menu menu">
  <strong class="heading">Supplementary Menu</strong>
  <ul class="suplementary-nav nav">
    <li class="item" role="menuitem">
      <a class="link" href="books.html" title="Books published by Succeed at Work">Books</a>
    </li>
    <li class="item" role="menuitem">
      <a class="link" href="about.html" title="About Succeed at Work">About</a>
    </li>
  </ul>
</nav>
