<h1 class="brand"><a href="/" title="Succeed at Work" class="ir logo">Succeed at Work</a></h1>


<nav class="primary-menu menu" role="navigation" aria-label="Primary Menu">
  <strong class="heading">Primary Menu</strong>
  <ul class="primary-nav nav" role="menubar" aria-hidden="false">
    <li class="item" role="menuitem">
      <a class="link" href="books.html" title="Books published by Succeed at Work">Books</a>
    </li>
    <li class="item" role="menuitem">
      <a class="link" href="about.html" title="About Succeed at Work">About</a>
    </li>
  </ul>
</nav>
