body {
  font-family: $font-stack;
  color: palette(blue, stone);
  border-top: 6px solid palette(blue);
}


a {
  @include animation-ui;
  text-decoration: none;
  color: palette(blue);

  &:hover,
  &:focus {
    color: palette(orange);
  }
}


p {
  margin-top: 0;
}
