.container {
  @include container;

  @include susy-breakpoint($bp, $susy-large) {
    @include container;
  }
}


.site-hull {
  padding-bottom: $vs*4;
}

.site-hold {
  padding-top: $vs*3;
  padding-bottom: $vs*3;
  background-color: palette(blue, polar);
}

.site-keel {
  padding: $vs 0;
  font-size: 12px;
  color: palette(white);
  background-color: palette(blue, capecod);

  .legal,
  .suplementary-menu {
    display: inline-block;
  }

  .suplementary-menu {
    @include susy-breakpoint($bp, $susy-large) {
      margin-left: $hs*2;
    }
  }
}
