.primary-nav,
.suplementary-nav {
  .link {
    font-weight: 900;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
}


.primary-nav {
  .item {
    &:first-child {
      @include susy-breakpoint($bp, $susy-large) {
        margin-right: 134px+32px;
      }
    }

    + .item {
      margin-left: $hs;
      @include breakpoint($bp) {
        margin-left: 0;
      }
    }
  }
  .link {
    color: palette(blue, stone);

    &:hover,
    &:focus {
      color: palette(orange);
    }
  }
}


.suplementary-nav {
  .item + .item {
    margin-left: $hs;
  }
  .link {
    font-size: 12px;
    color: palette(white);

    &:hover,
    &:focus {
      color: palette(blue);
    }
  }
}
