.site-masthead {
  padding-top: $vs;
  padding-bottom: $vs*2;
  text-align: center;

  .container {
    position: relative;
  }

  .brand {
    margin: 0 auto $vs;
    @include breakpoint($bp) {
      margin-bottom: 0;
    }
  }
}
