.intro-hero {
  @include susy-breakpoint($bp, $susy-large) {
    @include squish(1);
  }
  > .heading {
    margin-bottom: $vs*2;
    font-size: 24px;
    text-align: center;
    color: palette(blue, stone);
  }
}

.intro-media {
  margin-bottom: $vs*2;

  > .attach {
    text-align: center;
    @include susy-breakpoint($bp, $susy-large) {
      @include span(4 of 10 wider);
    }
  }

  .src {
    margin-bottom: $vs*2;
  }

  > .body {
    margin-left: -26px;
    padding-left: 26px;
    @include susy-breakpoint($bp, $susy-large) {
      @include span(last 5 of 10);
    }
  }
}
