.brand,
.logo {
  display: block;
  width: 134px;
  height: 67px;
}

.brand {
  font-size: $fs;
  line-height: 1;
}

.logo {
  background: url('../images/logo-succeed-at-work.svg') center center no-repeat;
}
