.primary-menu {
  padding-left: 0;
  margin-left: 0;

  @include susy-breakpoint($bp, $susy-large) {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
}
