//
// @TODO: Add docs to buttom!
//
@mixin button {
  display: inline-block;
  padding: 9px 12px;
  border-radius: 6px;
}

.button {
  @include button;
}


// § Buy Books
.buy-books {
  margin-bottom: $vs;
  .heading {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
  }

  .help {
    display: block;
    font-size: 10px;
    line-height: 18px;
  }
}

// § Buy Buttons
.buy-buttons {
  font-size: 0;
  line-height: 1;
  .button {
    display: block;
    font-size: 12px;
    font-weight: 900;
    color: #fff;
    border-radius: 0;
    border: 1px solid palette(orange, rust);
    background-color: palette(orange);
    @include breakpoint($bp) {
      display: inline-block;
    }

    @include breakpoint($bp-large) {
      font-size: 18px;
    }

    + .button {
      margin-top: 1px;
      @include breakpoint($bp) {
        margin-top: 0;
        border-left: 1px solid palette(orange, hit);
      }
    }

    &:first-child {
      @include breakpoint($bp) {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }

    &:last-child {
      @include breakpoint($bp) {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}


// § Quotes
.quote {
  padding: 0 0 0 26px;
  margin: 0 0 0 -26px;
  font-weight: 700;
  font-size: 24px;
  background: url('../images/icon-quote-left.svg') left top no-repeat;

  .body {
    display: inline;
    padding-right: 26px;
    background: url('../images/icon-quote-right.svg') right bottom .5em no-repeat;
  }

  .src {
    margin: ($vs/2) 0 0;
    font-size: 16px;
  }

  .p-name {
    display: block;
    font-weight: 700;
  }
  .p-job-title {
    display: block;
  }

  .p-org,
  .p-locality {
    font-size: 12px;
  }
}


// § Succeed at Work Button
.saw-button {
  padding-left: 50px;
  font-weight: 700;
  color: palette(blue, stone);
  background: palette(blue, polar) url('../images/logo-book-get-hired.svg') 12px center no-repeat;

  em {
    text-transform: uppercase;
    color: palette(blue, base);
  }
}





// § Overview
.overview {
  @include susy-breakpoint($bp, $susy-large) {
    @include squish(1);
  }

  .attach {
    text-align: center;
    @include susy-breakpoint($bp, $susy-large) {
      width: span(3 of 10);
      text-align: center;
    }
  }

  .body {
    @include susy-breakpoint($bp, $susy-large) {
      width: span(last 7 of 10);
    }
  }

  .src {
    display: block;
    margin: 0 auto;
    margin-bottom: $vs;
  }

  .cta-contact {
    display: inline-block;
  }
}

.cta-contact {
  @include button;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: palette(blue, stone);
  border: 1px solid rgba(palette(blue, stone), .3);
  background-color: rgba(palette(blue, stone), .1);

  &:hover,
  &:focus {
    color: #fff;
    background-color: palette(blue, stone);
  }
}

.legal {
  margin: 0;
}
