$supports: (
  rem: true
);





// Susy
$susy : (
  columns: 1,
  gutter: 0,
  container: 80%
);

$susy-large: (
  columns: 12,
  gutter: .333333333,
  container: 960px
);

$bp: 30em;
$bp-medium: 45em;
$bp-large: 60em;





// Spacing
$vs: 1em;
$hs: 1em;





$font-family: museo_sans;
$font-stack: #{$font-family}, sans-serif;





$palettes: (
  blue: (
    base: #009de0,
    capecod: #4b5656,
    polar: #e5f4fa,
    stone: #193743,
  ),
  orange: (
    base: #df5938,
    hit: #fea98c,
    rust: #bd2f0c,
  ),
  white: (
    base: #fff,
  )
);
