.award-hero {
  padding-top: $vs;
  padding-bottom: $vs;
  line-height: 24px;
  color: #fff;
  background-color: palette(orange, base);
  border-top: 2px solid palette(orange, rust);


}

.award-hero__content {
  @include susy-breakpoint($bp, $susy-large) {
    @include squish(1);
  }
}

.award-hero__heading {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 24px;
  @include susy-breakpoint($bp, $susy-large) {
    margin-right: 12px;
  }
}

.award-hero__heading,
.award-hero__award {
  @include susy-breakpoint($bp, $susy-large) {
    display: inline-block;
  }
}


.award-hero__award,
.award-hero__source {
  margin-bottom: 0;
}

.award-hero__source {
  font-size: 12px;
  @include susy-breakpoint($bp, $susy-large) {
    margin-left: 12px;
  }
}
