/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: museo_sans,sans-serif;
  line-height: 18px;
  color: #193743;
  border-top: 6px solid #009de0;
}

a {
  text-decoration: none;
  color: #009de0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

a:hover,
a:focus {
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  color: #df5938;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 18px;
}

h1 {
  font-size: 27px;
  font-weight: 900;
}

p {
  margin-top: 0;
  margin-bottom: 18px;
}

.media {
  overflow: hidden;
}

.media>.attach {
  margin: 0 0 18px;
}

.media .src {
  display: block;
  margin: 0 auto;
}

.media>.body {
  overflow: hidden;
}

.media>.body>:last-child {
  margin-bottom: 0;
}

html,
body {
  height: 100%;
}

.sticky-footer {
  display: table;
  height: 100%;
  width: 100%;
}

.sticky-footer>.row {
  width: 100%;
  display: table-row;
  height: 1px;
}

.sticky-footer>.-expanded {
  height: auto;
}

.menu>.heading {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.nav {
  padding-left: 0;
  margin-left: 0;
  line-height: 0;
}

.nav,
.nav>.item {
  display: inline-block;
  font-size: 16px;
}

.brand,
.logo {
  display: block;
  width: 134px;
  height: 67px;
}

.brand {
  font-size: 16px;
  line-height: 1;
}

.logo {
  background: url('../images/logo-succeed-at-work.png') center center no-repeat;
}

.site-masthead {
  padding-top: 18px;
  padding-bottom: 36px;
  text-align: center;
}

.site-masthead .container {
  position: relative;
}

.site-masthead .brand {
  margin: 0 auto 18px;
}

.primary-menu {
  padding-left: 0;
  margin-left: 0;
}

.primary-nav .link,
.suplementary-nav .link {
  font-weight: 900;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.primary-nav .item+.item {
  margin-left: 20px;
}

.primary-nav .link {
  color: #193743;
}

.primary-nav .link:hover,
.primary-nav .link:focus {
  color: #df5938;
}

.suplementary-nav .item+.item {
  margin-left: 20px;
}

.suplementary-nav .link {
  font-size: 12px;
  color: #fff;
}

.suplementary-nav .link:hover,
.suplementary-nav .link:focus {
  color: #009de0;
}

.intro-hero>.heading {
  margin-bottom: 36px;
  font-size: 24px;
  text-align: center;
  color: #193743;
}

.intro-media {
  margin-bottom: 36px;
}

.intro-media>.attach {
  margin: 0 auto 36px;
  text-align: center;
}

.intro-media .src {
  margin-bottom: 36px;
}

.intro-media>.body {
  margin-left: -26px;
  padding-left: 26px;
  line-height: 27px;
}

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

.site-hull {
  padding-bottom: 72px;
}

.site-hold {
  padding-top: 54px;
  padding-bottom: 54px;
  background-color: #e5f4fa;
}

.site-keel {
  padding: 18px 0;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #4b5656;
}

.site-keel .legal,
.site-keel .suplementary-menu {
  display: block;
}

.button {
  display: inline-block;
  padding: 9px 12px;
  border-radius: 6px;
}

.buy-books {
  margin-bottom: 18px;
}

.buy-books .heading {
  font-size: 12px;
  font-weight: 700;
}

.buy-books .help {
  display: block;
  font-size: 10px;
}

.buy-books.-list>.heading {
  font-size: 10px;
  color: #9baaad;
}

.buy-buttons {
  font-size: 0;
  line-height: 1;
}

.buy-buttons .button {
  display: block;
  font-size: 12px;
  font-weight: 900;
  color: #fff;
  border-radius: 0;
  border: 1px solid #bd2f0c;
  background-color: #df5938;
}

.buy-buttons .button+.button {
  margin-top: 1px;
}

.buy-buttons.-list .button {
  padding: 0;
  font-size: 10px;
  font-weight: 500;
  color: #df5938;
  border: none;
  background-color: transparent;
}

.buy-buttons.-list .button+.button {
  padding-left: 2px;
  margin-left: 2px;
  border-left: 1px solid #9baaad;
}

.quote {
  padding: 0 0 0 26px;
  margin: 0 0 0 -26px;
  font-weight: 700;
  font-size: 24px;
  background: url('../images/icon-quote-left.svg') left top no-repeat;
}

.quote .body {
  display: inline;
  padding-right: 26px;
  background: url('../images/icon-quote-right.svg') right bottom .5em no-repeat;
}

.quote .src {
  margin: 9px 0 0;
  font-size: 16px;
  line-height: 18px;
}

.quote .p-name {
  display: block;
  font-weight: 700;
}

.quote .p-job-title {
  display: block;
}

.quote .p-org,
.quote .p-locality {
  font-size: 12px;
}

.saw-button {
  padding-left: 50px;
  font-weight: 700;
  color: #193743;
  background: #e5f4fa url('../images/logo-book-get-hired.svg') 12px center no-repeat;
}

.saw-button em {
  text-transform: uppercase;
  color: #009de0;
}

.overview .attach {
  text-align: center;
}

.overview .src {
  margin-bottom: 18px;
}

.overview .cta-contact,
.cta-contact {
  display: inline-block;
}

.cta-contact {
  padding: 9px 12px;
  border-radius: 6px;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #193743;
  border: 1px solid rgba(25,55,67,.3);
  background-color: rgba(25,55,67,.1);
}

.cta-contact:hover,
.cta-contact:focus {
  color: #fff;
  background-color: #193743;
}

.legal {
  margin: 0;
}

.books-hero {
  overflow: hidden;
  max-width: 460px;
  margin: 0 auto 54px;
}

.books-hero .attach {
  margin: 0;
}

.books-hero .src {
  margin: 0 auto;
}

.books-hero .body {
  padding: 18px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.books-hero .saw-button em {
  color: #000;
}

.bookshelf>.heading {
  position: relative;
  margin-bottom: 36px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.bookshelf>.heading:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 100%;
  margin-top: -2px;
  border-top: 1px solid #193743;
}

.bookshelf>.heading span {
  position: relative;
  padding: 0 20px;
  background-color: #fff;
}

.bookshelf>.heading span:before,
.bookshelf>.heading span:after {
  content: '';
  position: absolute;
  top: 50%;
  display: block;
  width: 5px;
  height: 5px;
  margin-top: -4px;
  font-size: 12px;
  line-height: 1;
  border-radius: 100%;
  background-color: #193743;
}

.bookshelf>.heading span:before {
  left: 0;
}

.bookshelf>.heading span:after {
  right: 0;
}

.book-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  text-align: center;
}

.book-list:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.book-list .item {
  display: inline-block;
  width: 50%;
  margin-bottom: 18px;
  text-align: left;
  vertical-align: top;
}

.book {
  font-size: 12px;
}

.book .attach {
  overflow: hidden;
  margin: 0 0 6px;
}

.book .attach-link {
  display: block;
  position: relative;
}

.book .attach-link:before,
.book .attach-link:after {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.book .attach-link:before:hover,
.book .attach-link:before:focus,
.book .attach-link:after:hover,
.book .attach-link:after:focus {
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}

.book .attach-link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(25,55,67,.8);
  opacity: 0;
}

.book .attach-link:after {
  content: 'More Details';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 75%;
  padding: 9px 10px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  background-color: #0f2229;
  -webkit-transform: translateY(-50%)translateX(-50%);
  -ms-transform: translateY(-50%)translateX(-50%);
  transform: translateY(-50%)translateX(-50%);
  opacity: 0;
}

.book .attach-link:hover:before,
.book .attach-link:hover:after {
  opacity: 1;
}

.book .attach-link:hover .src {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.book .src {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.book .src:hover,
.book .src:focus {
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
}

.book .heading,
.book .subheading {
  margin: 0;
}

.book-hero {
  color: #fff;
}

.book-hero .src {
  margin-bottom: 18px;
}

.book-hero {
  text-align: center;
}

.book-hero .buy-books {
  text-align: center;
  margin-bottom: 47.988px;
}

.book-hero .buy-books .heading {
  color: rgba(255,255,255,.8);
}

.book-hero .body {
  line-height: 24px;
  text-align: left;
}

.book-hero .body>.heading {
  margin-bottom: 0;
  font-weight: 900;
}

.book-hero .quote {
  padding-right: 60px;
  line-height: 27px;
}

.topics {
  padding-left: 0;
  margin-left: 0;
}

.topics:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.topics .item {
  padding-left: 6.66667px;
  list-style: none;
  border-left: 3px solid rgba(255,255,255,.6);
}

.l-book .site-masthead {
  padding-bottom: 48px;
}

.l-book .logo {
  background: url('../images/logo-succeed-at-work-white.png') center center no-repeat;
}

.l-book .primary-nav .link {
  color: rgba(255,255,255,.4);
}

.l-book .primary-nav .link:hover,
.l-book .primary-nav .link:focus {
  color: #fff;
}

.l-book .site-hold {
  color: #fff;
  background-color: rgba(25,55,67,.2);
}

.l-about .main-content {
  line-height: 24px;
}

.l-about .sub-content {
  margin-bottom: 18px;
}

.ir {
  display: inline-block;
  overflow: hidden;
}

.ir:before {
  content: '';
  display: block;
  width: 1px;
  height: 150%;
}

@media (-webkit-min-device-pixel-ratio:1.25),(min-resolution:1.25dppx),(min-resolution:120dpi) {
  .logo {
    background: url('../images/logo-succeed-at-work.svg') center center no-repeat;
    background-size: 134px 67px;
  }

  .l-book .logo {
    background-image: url('../images/logo-succeed-at-work-white.svg');
  }
}

@media (min-width:30em) {
  .media>.attach {
    float: left;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .media .src {
    margin-right: 0;
    margin-left: 0;
  }

  .site-masthead .brand {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
  }

  .primary-menu {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .primary-nav .item:first-child {
    margin-right: 166px;
  }

  .primary-nav .item+.item {
    margin-left: 0;
  }

  .intro-hero {
    margin-left: 8.47458%;
    margin-right: 8.47458%;
  }

  .intro-media>.attach {
    width: 42.85714%;
    float: left;
    margin-right: 1.96078%;
  }

  .intro-media>.body {
    width: 48.97959%;
    float: right;
    margin-right: 0;
  }

  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .container:after {
    content: " ";
    display: block;
    clear: both;
  }

  .site-keel {
    text-align: left;
  }

  .site-keel .legal {
    display: inline-block;
  }

  .site-keel .suplementary-menu {
    display: inline-block;
    margin-left: 40px;
  }

  .buy-buttons .button {
    display: inline-block;
  }

  .buy-buttons .button+.button {
    margin-top: 0;
    border-left: 1px solid #fea98c;
  }

  .buy-buttons .button:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  .buy-buttons .button:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .overview {
    width: 83.05085%;
    float: left;
    padding-left: 8.47458%;
  }

  .overview .attach {
    width: 28.57143%;
    text-align: center;
  }

  .overview .src {
    margin-right: auto;
    margin-left: auto;
  }

  .books-hero {
    max-width: inherit;
    margin: 0 0 54px;
    border-radius: 6px;
  }

  .books-hero .attach {
    width: 59.18367%;
    float: left;
    margin-right: 2.04082%;
    margin-bottom: 0;
  }

  .books-hero .src {
    display: block;
    margin: 0;
  }

  .books-hero .body {
    width: 38.77551%;
    float: right;
    margin-right: 0;
    padding: 36px 2.04082% 0 0;
  }

  .book-list .item {
    width: 18.36735%;
  }

  .book-list .item+.item {
    margin-left: 20px;
  }

  .topics {
    text-align: justify;
  }

  .topics .item {
    display: inline-block;
    width: 45%;
    margin-bottom: 9px;
  }

  .l-books .books-hero,
  .l-books .bookshelf {
    width: 83.05085%;
    float: left;
    margin-left: 8.47458%;
  }

  .l-book .book-hero {
    width: 66.10169%;
    float: left;
    margin-left: 16.94915%;
  }

  .l-about .main-content {
    width: 49.15254%;
    float: left;
  }

  .l-about .sub-content {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}

@media (min-width:60em) {
  .buy-buttons .button {
    font-size: 18px;
  }

  .l-about .sub-content {
    margin-left: 8.47458%;
  }
}
