@function rem-calc($target) {

  $max: length($target);
  $values: ();
  $context: $fs;

  @for $i from 1 through $max {
    $x: 0;
    @if map-get($supports, rem) == true {
        // Export fallback px value:
        $x: nth($target, $i) * 1px;
        // Export REM value of $target depending on base-font-size
        $x: (nth($target, $i) / $context) * 1rem;
    }
    @else {
        $x: nth($target, $i) * 1px;
    }

    @if abs($x) == 0 {
        $values: append($values, 0);
    }

    @else {
        $values: append($values, $x);
    }
  }

  @return $values;
}
