@function _fontset-family($family, $weight: normal) {

    $result: map-get($family, $weight);

    @if not $result {
        $result: map-get($family, normal);
    }

    @return unquote($result);
}


@function font-value ($scale, $property: 'font-size',$face: $font-family) {
  $family: map-get($fonts, $face);
  $scale: map-get($family, $scale);

  @return map-get($scale, $property);
}


@function font-family ($face, $weight: normal) {
  $family: map-get($fonts, $face);
  @return _fontset-family($family, $weight);
}


//
// @TODO: Add docs to font-stack!
//
@mixin font-stack($face: $font-family, $weight: normal) {

  $family: map-get($fonts, $face);

  $result: map-get($family, $weight);

  @if not $result {
      $result: map-get($family, normal);
  }

  font-family: #{$result};

  @if map-get($family, family-per-weight) and $weight != 'normal' {
    font-weight: unquote($weight);
  }
}
