//
// @TODO: Add docs to sticky-footer!
//
@mixin _sticky-footer {
  & {
    display: table;
    height: 100%;

    &,
    > .row {
      width: 100%;
    }

    > .row {
      display: table-row;
      height: 1px;
    }

    > .-expanded {
      height: auto;
    }
  }
}


//
// @TODO: Add docs to sticky-footer!
//
@mixin sticky-footer($classname: '.sticky-footer') {
  html,
  body {
    height: 100%;
  }

  #{$classname} {
    @include _sticky-footer;
  }
}
