//
// @TODO: Add docs to _menu!
//
@mixin _menu {
  & {
    > .heading {
      @include _visuallyhidden;
    }
  }
}


//
// @TODO: Add docs to menu!
//
@mixin menu($class: '.menu') {
  #{$class} {
    @include _menu;
  }
}
