//
// @TODO: Add docs to _nav!
//
@mixin _nav {
  & {
    padding-left: 0;
    margin-left: 0;
    font-size: 0;
    line-height: 0;

    &,
    > .item {
      display: inline-block;
      font-size: rem-calc(16px);
    }
  }
}


//
// @TODO: Add docs to nav!
//
@mixin nav($class: '.nav') {
  #{$class} {
    @include _nav;
  }
}
