//
// @TODO: Add docs to media!
//
@mixin _media {
  & {
    overflow: hidden;

    > .attach {
      margin: 0 0 $vs 0;
      @include susy-breakpoint($bp, $susy-large) {
        float: left;
        margin-bottom: 0;
        margin-right: $hs;
      }
    }

    > .body {
      overflow: hidden;

      & > :last-child {
        margin-bottom: 0;
      }
    }
  }
}


//
// @TODO: Add docs to media!
//
@mixin media {
  .media {
    @include _media;
  }
}
