// Spacing
$vs: 1em !default;
$hs: 1em !default;


// z-index values
$z-base: 1 !default;
$z-image: 2 !default;
$z-content: 3 !default;
$z-nav: 4 !default;
$z-modal: 100 !default;


// Fonts
// § Fonts
$font-family: calluna !default;
$font-stack: "#{$font-family} sans-serif" !default;
$fonts: () !default;


// Type Sizes
$f-size: 16px !default;
$fs: $f-size !default;
$fs-milli : $fs * .625 !default;
$fs-centi : $fs * 0.6875 !default;
$fs-deci  : $fs * 0.875 !default;
$fs-deca  : $fs * 1.266 !default;
$fs-hecto : $fs * 1.481 !default;
$fs-kilo  : $fs * 1.898 !default;
$fs-mega  : $fs * 2.222 !default;
$fs-giga  : $fs * 2.848 !default;
$fs-tera  : $fs * 3.333 !default;

$fs-alpha : $fs * 5 !default;
$fs-beta  : $fs * 4.272 !default;
$fs-gamma : $fs * 4.272 !default;


// Default BP from Small to Medium
$bp: 30em !default;


$supports: (
  rem: true
);
