//
// @TODO: Add docs to _ir!
//
@mixin _ir {
  & {
    display: inline-block;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 150%;
    }
  }
}


@mixin ir($class: '.ir') {
  #{$class} {
    @include _ir;
  }
}
