//
// @TODO: Add docs tn!
//
@mixin _visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


//
// @TODO: Add docs to visuallyhidden!
//
@mixin visuallyhidden($class: '.visuallyhidden') {
  #{$class} {
    @include _visuallyhidden;
  }
}
